manifest {

    author          = "Eachan O. Johnson"
    homePage        = "https://github.com/scbirlab/nf-inspect"
    description     = "Process demultiplexed Illumina paired-end FASTQ files from INSPECT experiments."
    defaultBranch   = "main"
    nextflowVersion = '!>=23.10.0'
    version         = "0.0.1"
    doi             = ''

}

params {
    
    help = null
    
    // *** Pipeline Input parameters ***

    sample_sheet = null
    fastq = null
    reference = null

    // *** Pipeline processing parameters ***

    // - Adapter trimming
    trim_qual = 10
    min_length = 105

    // - UMI-tools
    umitools_error = 2
}

profiles {

  standard {

    conda.enabled = true
    conda.useMamba = true
    dag.enabled = true
    dag.overwrite = true
    notification.enabled = true
    notification.to = "$USER@crick.ac.uk"

    process {
      conda = "${projectDir}/environment.yml"
      executor = 'slurm'
      withLabel: big_mem {
          cpus = 8
          memory = '32GB'
      }
    }
  }

  gh {

    conda.enabled = true
    conda.useMamba = true
    process {
      conda = "${projectDir}/environment.yml"
      executor = 'local'
      withLabel: big_mem {
          cpus = 1
          memory = '12GB'
        }
    }

  }

}